/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

a {
    text-decoration: none;
}

.container {
    width: 800px;
    margin: 0 auto;
}

/* Header Start */

header nav {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 5% 0;
}

.lambda-logo {
    width: 20%;
}

.nav-links {
    width: 70%;
}

.nav-links a {
    display: inline-block;
    margin-right: 10%;
    color: black;
}

.hero-img {
    margin: 4% 0;
}

/* Header End */

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Box Colors Start */

.one-color {
    background: teal;
    order: 10;
}

.two-color {
    background: gold;
    order: 9;
}

.three-color {
    background: cadetblue;
    order: 8;
}

.four-color {
    background: coral;
    order: 7;
}

.five-color {
    background: crimson;
    order: 6;
}

.six-color {
    background: forestgreen;
    order: 5;
}

.seven-color {
    background: darkorchid;
    order: 4;
}

.eight-color {
    background: hotpink;
    order: 3;
}

.nine-color {
    background: indigo;
    order: 2;
}

.ten-color {
    background: dodgerblue;
}

/* Box Color End */

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

/* About Top Text Start */

.about-text-container {
    border-bottom: black dotted 2px;
    margin-bottom: 5%;
}

.about-text-container h2 {
    padding: 0 2%;
}

.about-text-container p {
    padding: 0 2%;
    padding-bottom: 3%;
}

/* About Top Text end */

/* About Content Start */

.about-content-container {
    display: flex;
    justify-content: space-around;
}

.about-content-container h2, p, a {
    margin: 2% 0;
}

.about-content {
    width: 45%;
    padding-bottom: 3%;
    margin-bottom: 5%;
    border-bottom: black dotted 2px;
}

.about-content a {
    display: inline-block;
    border: black solid 2px;
    color: black;
    padding: 2% 5%;
    border-radius: .5rem;
}

/* About Content End */

/* Bottom Section Text Start */

.bottom-sect-text {
    padding: 3%;
}

/* Bottom Section Text End */
